

.th, .td { text-align:left; padding:.5rem; border-bottom:1px solid #444; }
.th.num, .td.num { text-align:right; }



/* .results-container {
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  background-color: #f0f0f0;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
} */
