<!-- <form (ngSubmit)="onSubmit()" #f="ngForm">
    <input type="email"    name="email"    [(ngModel)]="email"    placeholder="Email"    required />
    <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required />
    <button type="submit" [disabled]="f.invalid">Entrar</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
  
<app-logs-list></app-logs-list> -->


<div class="login-container">
  <h1>Sala de Juegos</h1>
  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <input
        type="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <button type="submit" [disabled]="!email || !password">Ingresar</button>
  </form>

  <!-- <div class="quick-access">
    <button (click)="quickAccess('user1@ejemplo.com','pass123')">
      Acceso Rápido: User1
    </button>
    <button (click)="quickAccess('user2@ejemplo.com','pass456')">
      Acceso Rápido: User2
    </button>
  </div> -->

  <p class="error" *ngIf="error">{{ error }}</p>
  <p>¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
</div>