.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .juegos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  