/* Estilo general del contenedor */
div {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para la palabra oculta */
  p {
    font-size: 2em;
    letter-spacing: 0.3em;
    margin-bottom: 20px;
  }
  
  /* Estilo para el input y botón */
  input[type="text"] {
    font-size: 1.2em;
    width: 50px;
    text-align: center;
    margin-right: 10px;
  }
  
  button {
    font-size: 1.2em;
    padding: 5px 10px;
  }
  
  /* Estilo para el mensaje de victoria */
  h1 {
    font-size: 3em;
    color: green;
  }
  
  /* Lista de partes del muñeco */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 1.1em;
    margin: 5px 0;
  }
  