<div>
  <h2>Ahorcado</h2>

  <!-- Muestra la palabra oculta con letras adivinadas o guiones bajos -->
  <!-- p>{{ selectedWord | displayWord: guessedLetters }}</p -->

  <!-- Si el juego no terminó, muestra el input y el botón de confirmar -->
  <div *ngIf="!gameOver">
    <input 
      type="text" 
      [(ngModel)]="letterInput" 
      maxlength="1" 
      placeholder="Ingresa una letra" 
      (keypress)="validateLetter($event)">
    <button (click)="confirmGuess()">Confirmar</button>
  </div>

  <!-- Si el juego terminó, muestra el mensaje y el botón para reiniciar -->
  <div *ngIf="gameOver">
    <h1 style="font-size: 3em; color: green;">{{ winningMessage }}</h1>
    <button (click)="resetGame()">Reiniciar Juego</button>
  </div>

  <!-- Estado del muñeco -->
  <h3>Partes del muñeco restantes:</h3>
  <ul>
    <li *ngFor="let part of hangmanParts">{{ part }}</li>
  </ul>

  <h3>Letras adivinadas:</h3>
  <p> {{  getDisplayWord( ) }} </p>

  <!-- Letras adivinadas -->
  <!-- <h3>Letras adivinadas:</h3>
  <p>{{ guessedLetters.join(', ') }}</p> -->
</div>



<!-- 
 <div>
  <h2>Ahorcado</h2>
  <input 
    type="text" 
    [(ngModel)]="letterInput" 
    maxlength="1" 
    placeholder="Ingresa una letra" 
    (keypress)="validateLetter($event)">
  
  <button (click)="confirmGuess()">Confirmar</button>
  
  <h3>Partes del muñeco restantes:</h3>
  <ul>
    <li *ngFor="let part of hangmanParts"> {{ part }}</li>
  </ul>
  
  <h3>Letras adivinadas:</h3>
  <p> {{  getDisplayWord( ) }} </p>
</div>  -->
