/* You can add global styles to this file, and also import other style files */
/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Fondo global de la aplicación 

body {
  margin: 0;
  padding: 0;
  background-color:  rgb(45, 83, 60);
  color: #fff; /* para asegurar legibilidad del texto 
}
*/

/* Fondo global tipo pizarrón */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('/assets/pizarron.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  /* asegúrate de que el texto contraste */
  opacity: 0.9;
  
}